body {
}

.lblLarge {
    margin-top: 20px;
    display: block;
    font-size: x-large;
    margin-left: 25px;
    margin-bottom: 20px;
}

.lblSmall {
    display: block;
    font-size: small;
    margin-left: 45px;
    color: gray;
    margin-top: 20px;
}

.input {
    margin-left: 45px;
    width: 150px;
    margin-top: 10px;
}

.valError {
    margin-left: 15px;
    color: red;
    font-weight: bold;
}

#lblAmount {
    display: inline-block;
    margin-left: 10px;
    color: orangered;
}

.btn {
    margin-top: 20px;
    display: block;
    margin-left: 25px;
}

#lblBirthDate {
    display: inline-block;
    margin-left: 45px;
    margin-top: 20px;
    font-weight: bold;
}

.ddlBirthDate {
    margin-left: 25px;
    width: 75px;
    margin-top: 20px;
}

#lblMonth {
    display: inline-block;
    margin-left: 155px;
    color: gray;
    font-size: small;
    width: 75px;
}

.lblDayYear {
    display: inline-block;
    margin-left: 25px;
    color: gray;
    font-size: small;
    width: 75px;
}

